<div id="nav">
    <h2>Myth Wiki</h2>
    <% if(currentUser) { %>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/new">Create New Article</a>
        </li>
            <li>
                <form action="/sessions?_method=DELETE" method="POST">
                    <input id="destroy" type="submit" value="Log Out">
                </form>
            </li>
    </ul>
    <% } else { %>
	<ul>
        <li><a href="/">Home</a></li>
	    <li><a href="/users/new">Register</a></li>
	    <li><a href="/sessions/new">Login</a></li>
    </ul>
    <% } %>
</div>