<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
	<%- include('./partials/nav.ejs')  %>
	<h1>Mythology Wiki</h1>
    <main>
        <% articles.forEach(article => { %>
            <li>
                <a href="/<%=article.id%>"><%=article.name %></a>
            </li>
        <% }) %>
    </main>
</body>
</html>

</html>