<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <h1>Mythology Wiki</h1>
    <main>
        <div>
            <h1>Categories</h1>
            <ul>
                <% 
                for(let i =0; i < articles.length; i++) {
                    let category = [...new Set(articles.map(e => e.category))]
                    %>
                <a href="/myths/<%=category[i]%>">
                    <div class="categories"><%=category[i]%></div>
                    <div>
                    </div>                    
               <% } %>
            </ul>
        </div>
    </main>
</body>
</html>