<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/nav.ejs')  %>
    <h1>Create an Article</h1>
    <form class="new" action="/" method="POST">
        Article name: <input type="text" name="name"/> 
    </br>
        Category: <input type="text" name="category"/>
    </br>
        Type/sub-category (optional):<input type="text" name="type"/>
    </br>
        Image URL (optional): <input type="text" name="img"/>
    </br>
        Article Content: <input id ="new-text-content" type="text" name="description"/>   
    <br>
    <input type="submit" value="Add Article to Wiki"/>
    </form>
</body>
</html>