<!DOCTYPE html>
<html lang="en">
    <%- include('./../partials/head.ejs') %>
<body>
    <h1>Create an Account</h1>
    <form id="register-box" action="/users" method="POST">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email"/>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password"/>

        <input type="submit" value="Register">
    </form>
</body>
</html>